.aplicaciontareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.logocontenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px;
}
.logo{
  width: 400px;
  height: auto;

}
h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}
.listaprincipal{
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 25px;
}