.contenedortestimonio{
    width: 1170px;
    height: 368px;
    background-color: #ffffff;
    margin: 10px 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 8px 2px var(--secondary-color-base);
    background: var(--primary-color-base);
    color:white;
}
.imagentestimonio{
    height: 100%;
    width: auto;
}

.contenedortextotestimonio{
    text-align: center;
    padding: 40px;
    line-height: 1.5rem;
    font-weight: 400;
  
    
}
.nombretestimonio{
    /* rem toma como unidad el tamano de la fuente raiz */
    font-size: 1.3rem;
}
.cargotestimonio{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}
.textotestimonio{
    text-align: justify;
    font-size: 1.1rem;
}
.resaltar{
    color: var(--secondary-color-base);
}